
        body {
            margin: 0;
            padding: 0;
            font-family: 'Changa', sans-serif;
            font-family: 'Playfair Display SC', serif;
        }
        /* ========================================================================================= */
        header {
            background: darkblue;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

        .header {
            margin: 0px 10px 0px 10px;
            border: 2px solid rgb(236, 229, 229);
            padding: 3px;
            border-radius: 10px;

        }

        .header>a {
            color: rgb(240, 239, 239);
        }

        .header:hover {
            background: lightblue;

        }

        .header>:hover {
            color: red;
        }
        /* -------------------------------------------------------------------------------------- */
        .logo {
            display: flex;
            justify-content: center;
            /* background: lightcoral; */
        }

        #ss_logo {
            width: 50%;
            /* background: lightgreen */
        }

        #ss_logo>img {
            padding: 20px;
        }

        #ss_logo1 {
            width: 50%;
            /* background: lightblue; */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #ss_logo2 {
            margin: 3vw;
            padding: 3px;
            border: 3px solid black;
            border-radius: 25px
        }

        #ss_logo2:hover {
            background: silver
        }

        #ss_logo2>a>img {
            height: 2vw;
            width: 2vw;
        }

        /* ------------------------------------------------------------------------------------------------ */
        
        .slidde {
            margin: 0;
            padding: 0;
            display: flex;
            justify-items: center;
        }

        .slider {
            overflow: hidden;
            width: 100%;

        }

        #slide {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 350px;
            display: flex;

        }

        #slide>img {
            width: 100%;
        }
/* ______________________________________________________________________________________________________________________ */
.imp {

    background: #000000;
    height: 2vw;
    display: flex;


}

#imp1 {

    background: rgb(59, 69, 207);
    width: 20%;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

#imp2 {
    margin: 0;
    background: rgb(156, 148, 148);
    width: 80%;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imp1>img {
    width: 2vw;
    height: 2vw;
}

/* --------------------------------------------------------------------------------------------------------------- */

#h2 {
    text-align: center;
    color: rgb(103, 29, 221);
    margin-bottom: 0;
    font-size: 2vw;

}

#h2+div {
    display: flex;
    justify-content: center;
}
/* __________________________________________________________________________________________________________________ */

hr {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border: 0 !important;
    border-top: 2px solid #8b9686 !important;
}

.student {
    display: flex;
    /* background: lawngreen */
}

.box1,
.box2,
.box3 {
    background: rgb(231, 228, 228);
    border: 2px solid rgb(202, 181, 181);
    margin: 20px;
    border-radius: 10px;
}
.box1:hover,.box2:hover,.box3:hover{
    background: silver;
}

.box1>div>h3,
.box2>div>h3,
.box3>div>h3 {
    margin-bottom: 0;
    display: flex;
    justify-content: center;

}

#box_id1 {
    display: flex;
    justify-content: center;
}

#box1,
#box2,
#box3 {
    display: block;
    /* background: rgb(28, 127, 226); */
    text-decoration: none;
    color: black;
}

#box1:hover,
#box2:hover,
#box3:hover {
    color: rgb(247, 122, 49);
}

#box1:active,
#box2:active,
#box3:active {
    color: rgb(107, 240, 107);
}

.div1 {
    padding: 10px;
}

#hostel {
    color: rgb(153, 14, 14);
}
/* ---------------------------------------------------------------------------------------------------------------- */

.hhh {
    background: rgb(199, 201, 197);
    border: rgb(199, 201, 197);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#hhh {
    text-align: center;
    color: rgb(103, 29, 221);
    margin-bottom: 0;
    font-size: 2vw;

}

#hhh+div {
    display: flex;
    justify-content: center;
}

/* ------------------------------------------------------------------------------------------------------------- */


.portal {
    background: rgb(201, 199, 199);
    display: flex;
}

.boxx1>div>h4 {
    text-align: center;
    margin-bottom: 0;
}

#box_id2 {
    display: flex;
    justify-content: center;
}

.boxx1 {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(202, 181, 181);
    margin: 20px;
    border-radius: 10px;

}

#boxx1 {
    display: block;
    color: black;
    text-decoration: none;
}

#boxx1:hover {
    color: rgb(247, 122, 49);
}

.boxx1:hover {
    background: rgb(228, 223, 223);
}

.div2 {
    padding: 10px;
}

#portal_img {
    display: flex;
    justify-content: center;
}

#portal_img>img {
    transition: transform .4s ease-in-out;
}

.boxx1:hover #portal_img>img {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
/* ------------------------------------------------------------------------------------------------------------ */
.heading_news {
    text-align: center;
}

.panel-heading {
    height: 2vw;
    width: 100%;
    font-size: 1.5vw;
    color: #fff;
    background-color: #34464f;
    border-color: #428bca;
}

.panel_head2 {
    width: 50%;
    margin: auto;
    background: rgb(241, 238, 238);
    height: 10vw;
    border: 2px solid rgb(182, 174, 174);
    border-radius: 10px;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */

.footr{
margin: 0;
padding: 0;
border: 2px solid rgb(208, 213, 218);
width: 100%;
height: 10vw;
background-image: url("pic/footer-background.jpg");
background-image: linear-gradient(rgb(0, 0, 0), rgb(184, 184, 184));
display: flex;
justify-content: center;
align-items: center;
z-index: 100;
}
